/* Only for Debugging */
* {
  @if ($debug) {
    outline: 1px dotted red;
    outline-offset: -1px;

    &:before {
      content: attr(class);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: remcalc(2);
      background: $h-gray;
      color: $h-black;
      font-size: remcalc(10);
      text-transform: uppercase;
      font-weight: $bold;
    }
  }
}

html {
  @if ($debug) {
    background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
    background-repeat: repeat-y;
    background-size: 100% $font-size;
  }
}

/* Base */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: $white
}
