@import 'src/scss/base/shared';

.root {
  height: 100vh;
}

.paper {
  margin: remcalc(100);
}

.image {
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
